@import url("https://fonts.googleapis.com/css?family=Raleway:400,500");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

div {
  z-index: 2;
  position: relative;
}

body {
  color: #333;
  height: 100vh;
  display: flex;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  background-color: #333;
  font-family: "Raleway", sans-serif;
}

.footer {
  width: 450px;
  color: #fff;
  display: block;
  font-size: 0.8em;
  text-align: center;
  margin: 15px auto 30px auto;

  a {
    color: #fff;
    font-weight: 500;
    text-decoration: none;
  }
}

#quote-box {
  width: 450px;
  display: table;
  padding: 40px 50px;
  position: relative;
  border-radius: 3px;
  background-color: #fff;

  //margin: 8% auto auto auto;
  .quote-text {
    i {
      font-size: 1em;
      margin-right: 0.4em;
    }

    clear: both;
    width: 450px;
    height: auto;
    font-weight: 500;
    font-size: 1.75em;
    text-align: center;
  }

  .quote-author {
    clear: both;
    width: 450px;
    height: auto;
    font-size: 1em;
    padding-top: 20px;
    text-align: right;
  }

  .buttons {
    width: 450px;
    margin: auto;
    display: block;

    .button {
      opacity: 1;
      height: 38px;
      border: none;
      color: #fff;
      outline: none;
      cursor: pointer;
      margin-top: 30px;
      font-size: 0.85em;
      border-radius: 3px;
      background-color: #333;
      padding: 8px 18px 6px 18px;

      &:hover {
        opacity: 0.9;
      }

      &#linkedin-quote,
      &#github-quote {
        float: left;
        width: 40px;
        padding: 0px;
        height: 30px;
        padding-top: 8px;
        font-size: 1.2em;
        margin-right: 5px;
        text-align: center;
      }

      &#new-quote {
        float: right;
      }
    }
  }
}